<div class="container">
    <mat-card>
        <div class="logo-container" style="margin-bottom: 16px;">
            <img src="assets/img/Logo-Blue.png" alt="">
          </div>
        <mat-card-content>
            <h2>Sign Up</h2>
            <form #singup="ngForm" (ngSubmit)="signupUser(singup.value)">
                <mat-form-field appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input matInput placeholder="Username" [formControl]="email" #userEmail required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" #userPwd required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </form>
            <div class="button-container">
                <button mat-raised-button value="Sign Up" [disabled]="singup.invalid"
                (click)="signupUser(singup.value)"
                >Register</button>
            </div>
            <div class="alternate">
                <span class="redirect" routerLink="/login"> Log In</span>
              </div>
        </mat-card-content>
    </mat-card>

</div>