<div class="card-container">
    <mat-progress-bar class="bar" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <h1 mat-dialog-title>Add User</h1>
    <div mat-dialog-content>
        <div class="input-container">
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>First Name</mat-label>
                <input [(ngModel)]="user.firstname" [disabled]="loading" matInput placeholder="Firstname">
                <!-- <mat-hint>Please enter a name</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input [(ngModel)]="user.lastname" [disabled]="loading" matInput placeholder="Last Name">
                <!-- <mat-hint>Please enter a name</mat-hint> -->
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="user.email" [disabled]="loading" matInput placeholder="Email">
        </mat-form-field>
        
        <div>
            <mat-form-field appearance="outline" class="display">
                <mat-label>Birthday</mat-label>
                <input [(ngModel)]="birthdate" [disabled]="loading" matInput placeholder="Birthday" [matDatepicker]="picker1" >
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button [disabled]="loading" (click)="this.dialogRef.close()">Cancel</button>
        <button mat-button cdkFocusInitial (click)="saveUser()" [disabled]="loading">Save</button>
    </div>
</div>