<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <div class="logo-container">Platz für logo-container</div>
    <ul class="menu-items">
      <li routerLink=""><mat-icon>perm_identity</mat-icon>Dashboard</li>
      <li routerLink="user"><mat-icon>fact_check</mat-icon>User</li>

    </ul>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar>
      <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>SimpleCRM</span>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>


  </div>

</mat-drawer-container>