mat-card {
    padding-left: 0;
    padding-right: 0;
    position: relative;

    .bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}
.add-btn {
    position: absolute;
    bottom: 56px;
    right: 56px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid rgba(0,0,0,.3);
        cursor: pointer;

        &:first-child {
            cursor: unset;

            &:hover {
                 background-color: unset;
            }
        }

        &:last-child {
            border-bottom: none;
        }

       &:hover {
        background-color: rgba(0, 0, 0, 0.039);
       }
   
        th {
            color: rgba(0,0,0,.4);
            font-size: 14px;
            font-weight: 500;
            text-align: start;

            &:first-child {
                padding-left: 16px;
            }
            
            &:last-child {
                padding-right: 16px;
            }
        }
    
        td {
            height: 48px;

            &:first-child {
                padding-left: 16px;
            }
            &:last-child {
                padding-right: 16px;
            }
        }
    }
    

}