<div class="container">
    <mat-card>
        <mat-progress-bar class="bar" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        <div class="logo-container" style="margin-bottom: 16px;">
            <img src="assets/img/Logo-Blue.png" alt="">
          </div>
        <mat-card-content>
            <h2>Forgot Password</h2>
            <form #forgotPasswordForm="ngForm" (ngSubmit)="resentPassword()">
                <mat-form-field appearance="outline" style="margin-bottom: 16px;">
                    <mat-label>Email Address</mat-label>
                    <input matInput placeholder="Username" email name="passwordResetEmail" ngModel #passwordResetEmail="ngModel" required>
                    <mat-hint>For password recovery type in your Email-Adress</mat-hint>
                    <mat-error *ngIf="email.invalid">Please enter a valid e-mail</mat-error>
                </mat-form-field>
                <div class="button-container">
                    <button mat-raised-button value="Reset Password" type="submit" [disabled]="forgotPasswordForm.invalid">Recover Password</button>
                </div>
            </form>
            <div class="alternate">
                <span class="redirect" routerLink="/login"> Log In</span>
              </div>
        </mat-card-content>
    </mat-card>

</div>